<%- include('header',{
    title:'Reset Password'
}); -%>

<div class="container">
    <h1>Reset Password</h1>
    <form action="" method="POST">
        <label for="user_email">Email</label>
        <input type="email" class="input" name="_email" id="user_email" placeholder="Enter your email">
        <label for="user_pass_reset">New Password</label>
        <input type="password" class="input" name="_passreset" id="user_email" placeholder="Enter new password">
        <label for="user_pass_reset_confirm">Confirm new password</label>
        <input type="password" class="input" name="_passconfirm" id="user_pass_reset_confirm" placeholder="Enter confirm new password">
        <% if(typeof msg != 'undefined'){ %>
            <div class="success-msg"><%= msg %></div><% }
            if(typeof error !== 'undefined'){ %>
            <div class="err-msg"><%= error %></div><% } %>
        <input type="submit" value="reset password">   
        <div class="text-center">
        <p><a href="/login">Go to Login !!!</a></p>
        </div>
    </form> 
</div>

<%- include('footer'); -%>